---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
import graph from "../assets/images/chart.svg";
import hero from "../assets/images/hero.jpg";
---
<MainLayout title="Titel">
	<div class="relative">
		<div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div> 
		<Image src={hero} alt="hero" class="w-full h-auto"/>
		<div class="absolute inset-0 flex items-center justify-center z-20">
		  <h1 class="text-white text-7xl font-bold text-center  p-8 ">
			Slår mændende nogensinde kvinder i livets løb?
		  </h1>
		</div>
	  </div>
	<article class="grid mx-auto container gap-8 pt-8 prose ">
		<h3 class="text-2xl"><strong>Vi lever længere end nogensinde før - men nogle mere end andre</strong></h3>
		<p><span style="font-weight: 400;">Siden 1840 (184 år siden) er mænd og kvinders levetid nærmest fordoblet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eaque exercitationem consequuntur ipsa! Sunt earum eveniet voluptates a quasi iste voluptas maxime itaque quas, nisi ea eius maiores hic ipsum!</span></p>
		<Image src={graph} alt="graf"/>
		<p><span style="font-weight: 400;">Siden 1840 (184 år siden) er mænd og kvinders levetid nærmest fordoblet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eaque exercitationem consequuntur ipsa! Sunt earum eveniet voluptates a quasi iste voluptas maxime itaque quas, nisi ea eius maiores hic ipsum!</span></p>
	</article>
</MainLayout>